{% extends 'base.html.twig' %}
{% block title %}About Me{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<home-about-me></home-about-me>
<!-- <section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 
section--image section--image-about-me-ania">
    <div class="container">
        <div class="row">
            <div class="offset-md-6 col-md-6 text-white">
                <h5 class="text-uppercase">xxxHi there !</h5>
                <h1 class="text-uppercase">I'm <span class="text-success">daria taylor</span></h1>
                <p>I'm a Freelance UI/UX Designer and Developer based in London, England. I strives to build immersive and beautiful web applications through carefully crafted code and user-centric design.</p>
                <a class="btn btn-lg btn-success" href="#">More about me</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-outline-success" href="#">Portfolio</a>
            </div>
        </div>
    </div>
</section> -->
<section class="overflow-hidden flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center bg-light">
                <div class="bg-lg-absolute-left bg-light"></div>
                <div class="text-center w-100 py-5" style="position: relative;">
                    <img src="{{ asset('images/profiles/3.jpg')|imagine_filter('squared_thumbnail_small') }}" class="shadow-lg rounded-circle mx-auto d-block img-fluid img-thumbnail mb-3">
                    <h2>David Doe</h2>
                    <h6 class="text-uppercase text-muted start-about-us-position">PROGRAMMER, WEBDESIGNER</h6>
                </div>
            </div>
            <div class="col-lg-6 py-5">
                <h3>Good people, big projects.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et posuere neque, in sodales nulla. In efficitur vehicula felis, a pharetra velit sagittis et. Morbi a iaculis quam, a feugiat leo.</p>
            </div>
        </div>
    </div>
</section>
<section class="overflow-hidden flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5">
                <h3>Good people, big projects.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et posuere neque, in sodales nulla. In efficitur vehicula felis, a pharetra velit sagittis et. Morbi a iaculis quam, a feugiat leo.</p>
            </div>
            <div class="col-lg-6 d-flex align-items-center bg-dark">
                <div class="bg-lg-absolute-right bg-dark"></div>
                <div class="text-center w-100 py-5 text-white" style="position: relative;">
                    <img src="{{ asset('images/profiles/2.jpg')|imagine_filter('squared_thumbnail_small') }}" class="shadow-lg rounded-circle mx-auto d-block img-fluid img-thumbnail mb-3">
                    <h2>Jane Doe</h2>
                    <h6 class="text-uppercase text-muted start-about-us-position">photographer, SEO SPECIALIST</h6>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}{% endblock %}