{% extends 'base.html.twig' %}
{% block title %}About Me{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<section class="d-flex flex-shrink-0 section-py-80 section-min-h-100 section--image section--image-about-me section--parallax"></section>

<home-timeline is-section="true" title="Process" icon="fa-tools" timeline-data="process"></home-timeline>

<home-skill></home-skill>

<section class="section-py-80">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <home-timeline title="Education" icon="fa-graduation-cap" position="end" timeline-data="education"></home-timeline>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <home-timeline title="Work Experience" icon="fa-briefcase" position="start" timeline-data="experience"></home-timeline>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}{% endblock %}