{% extends 'symfony/layout.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block sidebar_symfony %}
    {{ parent() }}
{% endblock %}

{% block content_symfony %}
    <div class="col d-flex justify-content-center align-items-center p-0">
        <section class="section-py-80 w-100">
            <div class="container-fluid mb-4">
                <div class="row">
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                    </div>
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                    </div>
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-4">
                <div class="row">
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                    </div>
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                    </div>
                    <div class="col-md">
                        <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
<pre><code class="twig rounded">
➜  home4 git:(master) ✗ yarn add highlight.js

</code></pre>

<pre><code class="javascript rounded">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})

</code></pre>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}