{% extends 'base.html.twig' %}
{% block title %}About Me{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

 	<div class="container">
        <div class="row">
            <div class="col-md-12">
            	<h2 class="font-roboto-thin">About Me</h2>
			    <h2 class="animated infinite bounce delay-2s">About Me</h2>
			    <example-component myprop="I can pass props!" index=4></example-component>
			 	<edu-counter></edu-counter>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}