{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body_bs %}
<section class="d-flex flex-shrink-0 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100">
            {% block sidebar_bs %}
                {{ include('vue/_sidebar.html.twig') }}
            {% endblock %}
            {% block content_vue %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}