{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 bg-clouds">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6">
                <div class="card border-0 bg-clouds-concave-145 shadow-clouds pt-3">
                    <div class="card-body">
                        {# <div class="title title-white d-flex justify-content-center align-items-center mb-4 mt-4">
                            <h2>FORM</h2>
                            <h3>Reset</h3>
                        </div> #}

                        <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
                        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
