@mixin scrollbars($size, $foreground-color, $background-color, $hover-color) {
    &::-webkit-scrollbar {
        width:  $size;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        border: 2px solid transparent;
        background: $foreground-color;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $hover-color;
    }
}


@mixin scrollbars-dark() {
    @include scrollbars(10px, #6b7183, rgba(0, 0, 0, 0.5), #a7afc6);
}
