{% extends 'admin/layout.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content %}
    <section class="section-py-80 w-100">
        <div class="container-fluid mb-4">
            <div class="row">
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                </div>
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                </div>
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=BDC3C7&fg=ffffff&size=30">
                </div>
            </div>
        </div>
        <div class="container-fluid mb-4">
            <div class="row">
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                </div>
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                </div>
                <div class="col-md">
                    <img class="img-fluid rounded" data-src="holder.js/100px225?bg=ECF0F1&fg=ffffff&size=30">
                </div>
            </div>
        </div>
    </section>
{% endblock %}