{% extends 'vue/layout.html.twig' %}
{% block title %}Circle{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-vh-100 bg-clouds">
	    <div class="container">
	        <div class="row align-items-end">
	            <div class="col-md-6 my-3">
	                <home-circle progress="50"></home-circle>
	            </div>
	            <div class="col-md-6 my-3">
	                <home-circle radius="100" stroke="15" digits="false"></home-circle>
	            </div>
	        </div>
	    </div>
	</section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}