{% extends 'vue/layout.html.twig' %}
{% block title %}Map{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
    <bs-map></bs-map>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}