{% extends 'vue/layout.html.twig' %}
{% block title %}Modal{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
    <bs-modal></bs-modal>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}