{% extends 'vue/layout.html.twig' %}
{% block title %}Portfolio{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<home-portfolio></home-portfolio>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}