{% extends 'vue/layout.html.twig' %}
{% block title %}Circle{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-vh-100 bg-clouds">
	    <div class="container">
	        <div class="row">
	            <div class="col">
	                <home-sidebar></home-sidebar>
	            </div>
	        </div>
	    </div>
	</section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}