{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body_bs %}
<section class="d-flex flex-shrink-0 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100">
            {% block sidebar_bs %}
                {{ include('symfony/_sidebar.html.twig') }}
            {% endblock %}
            <div class="col col-lg-9 d-flex justify-content-center align-items-center p-0">
                {% block content_symfony %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}