{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Examples</h1>
				<p>Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts.</p>
            </div>
        </div>
    </div>
    <section>
	    <div class="container">
	        <div class="row">
	            <div class="col-12">
					<h2>Custom components</h2>
					<p>Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.</p>
	            </div>
	        </div>
	    </div>
    </section>
    <section>
	    <div class="container">
	        <div class="row">
	            <div class="col-12">
					<h2>Framework</h2>
					<p>Examples that focus on implementing uses of built-in components provided by Bootstrap.</p>
	            </div>
	        </div>
	    </div>
    </section>

{% endblock %}

{% block javascripts %}{% endblock %}