<section class="section-py-80 bg-silver-100 start-about">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6 text-center">
                <div class="title title-white d-flex justify-content-center align-items-center mb-4">
                    <h2>ABOUT</h2>
                    <h3>Who We Are</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="d-block img-fluid mx-auto mb-3 rounded" data-src="holder.js/720x400?bg=353b47&fg=6c757d&size=12&auto=yes">
                <button type="button" class="btn btn-play" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-fw fa-play"></i>
                </button>
            </div>
            <div class="col-lg-6">
                <h3>Good people, big projects.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et posuere neque, in sodales nulla. In efficitur vehicula felis, a pharetra velit sagittis et. Morbi a iaculis quam, a feugiat leo.</p>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade fade-scale" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-light border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9 rounded-bottom">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jsQ7yKwDPZk?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>