<section class="section-py-80 bg-silver-100">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-md-6 text-center">
                <div class="title title-white d-flex justify-content-center align-items-center mb-4">
                    <h2>SERVICES</h2>
                    <h3>What We Do</h3>
                </div>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-paint-roller mb-3"></i>
                            <h5 class="card-title">Web Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin, erat nec malesuada imperdiet.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-toggle-on mb-3"></i>
                            <h5 class="card-title">UI/UX Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-brain mb-3"></i>
                            <h5 class="card-title">Branding</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-fw fa-2x fa-js mb-3"></i>
                            <h5 class="card-title">Web Development</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-cubes mb-3"></i>
                            <h5 class="card-title">App Development</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-fw fa-2x fa-earlybirds mb-3"></i>
                            <h5 class="card-title">SEO Services</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>