<section class="section-py-80">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 text-center">
                <div class="title title-silver-100 d-flex justify-content-center align-items-center mb-4">
                    <h2>TEAM</h2>
                    <h3>Our Creators</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-fluid mx-auto mb-3 rounded" data-src="holder.js/165x165?bg=353b47&fg=6c757d&size=12&auto=yes">
                        <!-- <img class="img-fluid mb-3 rounded-circle" src="{{ asset('images/profiles/ania.jpg') }}"> -->
                    </div>
                    <div class="col-sm-8 text-center text-sm-left">
                        <h4>David Doe</h4>
                        <h6 class="text-uppercase text-muted start-about-us-position">photographer, SEO SPECIALIST</h6>
                        <p>Praesent eu placerat enim, vitae condimentum arcu. Aenean ac semper purus.</p>
                        <ul class="d-flex flex-row justify-content-center justify-content-sm-start list-unstyled start-about-us-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <a class="btn btn-sm btn-success" href="{{ path('about_ania') }}">More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-fluid mx-auto mb-3 rounded" data-src="holder.js/165x165?bg=353b47&fg=6c757d&size=12&auto=yes">
                        {# <img class="img-fluid mb-3 rounded-circle" src="{{ asset('images/profiles/szymon.jpg')|imagine_filter('squared_thumbnail_small') }}"> #}
                    </div>
                    <div class="col-sm-8 text-center text-sm-left">
                        <h4>Jane Doe</h4>
                        <h6 class="text-uppercase text-muted start-about-us-position">programmer, WEBDESIGNER</h5>
                        <p>Praesent eu placerat enim, vitae condimentum arcu. Aenean ac semper purus.</p>
                        <ul class="d-flex flex-row justify-content-center justify-content-sm-start list-unstyled start-about-us-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <a class="btn btn-sm btn-success" href="{{ path('about_szymon') }}">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>