<section class="section-py-80">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-md-6 text-center">
                <div class="title title-silver-100 d-flex justify-content-center align-items-center mb-4">
                    <h2>Tools</h2>
                    <h3>What Tools We Use</h3>
                </div>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-symfony fa-5x mb-3"></i>
                            <h3 class="card-title">Symfony</h3>
                            <a class="card-link" target="_blank" href="{{ path('symfony_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-vuejs fa-5x mb-3"></i>
                            <h3 class="card-title">Vue</h3>
                            <a class="card-link" target="_blank" href="{{ path('vue_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-bootstrap fa-5x mb-3"></i>
                            <h3 class="card-title">Bootstrap</h3>
                            <a class="card-link" target="_blank" href="{{ path('bootstrap_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>