{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 welcome welcome--parallax">
 	<div class="container">
        {% for i in 1..3 %}
        <div class="row">
            <div class="col-md-12">
			    <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
			    <ol>
			    	<li>Tworzenie projektu blog</li>
			    	<li>Pisanie componentów vue</li>
			    	<li>Wystartowanie projektu jobeet</li>
			    </ol>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="d-flex flex-shrink-0 section-py-80 section-min-h-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
                <ol>
                    <li>Tworzenie projektu blog</li>
                    <li>Dokończyć projekt jobeet (<a target="_blank" href="https://jobeet-tutorial.readthedocs.io/en/latest/">jobeet4 tutorial</a>)</li>
                    <li>Dokończyć projekt jobeet vue (<a target="_blank" href="https://thecodingmachine.io/building-a-single-page-application-with-symfony-4-and-vuejs">vue api - symfony-vuejs-master</a>)</li>
                    <li>Pisanie componentów vue</li>
                </ol>
                <h2>Szkolenia:</h2>
                <ol>
                    <li>vuejs - od podstaw</li>
                    <li>vuejs - techniki zaawansowane</li>
                    <li>ecmascript6 - nowy standard javascript</li>
                    <li>app4.test (<a target="_blank" href="https://github.com/thecodingmachine/symfony-vuejs">github</a>, <a target="_blank" href="https://thecodingmachine.io/building-a-single-page-application-with-symfony-4-and-vuejs">page</a>)</li>
                </ol>
                <h2>Symfony vue github:</h2>
                <ol>
                    <li>symfony-vue-tutorial (<a target="_blank" href="https://digitalfortress.tech/tutorial/symfony-vue-js-integration">symfony vue</a>)</li>
                    <li>okta-php-symfony-vue-crud-example (<a target="_blank" href="https://developer.okta.com/blog/2018/06/14/php-crud-app-symfony-vue">symfony vue</a>)</li>
                    <li>vue-symfony (<a target="_blank" href="https://www.cloudways.com/blog/symfony-vuejs-app/">symfony vue</a>)</li>
                </ol>
                <h2>nuxt installation:</h2>
                <ul>
                    <li>https://nuxtjs.org/guide/installation/</li>
                </ul>
                <h2>Sticky Footer, Five Ways</h2>
                <ul>
                    <li>https://css-tricks.com/couple-takes-sticky-footer/</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-shrink-0 section-py-80 section-min-h-100 welcome welcome--parallax"></section>

{% endblock %}

{% block javascripts %}{% endblock %}