{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h2>start/index</h2>
    <example-component myprop="I can pass props!" index=4></example-component>
 	<edu-counter></edu-counter>

{% endblock %}

{% block javascripts %}{% endblock %}