{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}


 	<div class="container">
        <div class="row">
            <div class="col-md-12">
			    <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
			    <ol>
			    	<li>Tworzenie projektu blog</li>
			    	<li>Pisanie componentów vue</li>
			    	<li>Wystartowanie projektu jobeet</li>
			    </ol>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}