.tada-hover:hover {
    animation-name: tada;
}
.bounce-hover:hover {
    animation-name: bounce;
}

.animated {
	&-arrow {
		animation: updown 2s linear infinite;
	}
}
@keyframes updown {
    0% {
    	transform: translateY(0);
    }
    50% {
    	transform: translateY(-10px);
    }
    100% {
    	transform: translateY(0);
    }
}
// .animated-tada {
//     &:hover {
//         // animation: tada 1s linear infinite;
//         animation-name: tada;
//         animation-duration: 1s;
//         // animation-timing-function: linear;
//         // animation-iteration-count: infinite;
//         animation-iteration-count: 1;
//         animation-fill-mode: both;
//     }
// }