.btn {
    &:focus,
    &.focus {
        box-shadow: none;
    }
    border-width: 2px;
    &-pill {
        border-radius: 50rem;
    }
    &-px-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    &-px-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
    &-bw-1 {
        border-width: 1px;
    }
    &-bw-2 {
        border-width: 2px;
    }
    &.loading {
        position: relative;
        color: transparent !important;
        &::after {
            content:'';
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-top-color: transparent !important;
            border-radius: 50%;
            top: 50%;
            right: 50%;
            margin-top: -10px;
            margin-right: -10px;
            animation: loading .5s linear infinite;
        }
        &:disabled,
        &.disabled {
            opacity: 0.9;
        }
    }
    &-outline-primary {
        &.loading::after {
            border-color: $primary;
        }
    }
    &-outline-secondary {
        &.loading::after {
            border-color: $secondary;
        }
    }
    &-outline-success {
        &.loading::after {
            border-color: $success;
        }
    }
    &-outline-info {
        &.loading::after {
            border-color: $info;
        }
    }
    &-outline-warning {
        &.loading::after {
            border-color: $warning;
        }
    }
    &-outline-danger {
        &.loading::after {
            border-color: $danger;
        }
    }
    &-outline-light {
        &.loading::after {
            border-color: $light;
        }
    }
    &-outline-dark {
        &.loading::after {
            border-color: $dark;
        }
    }
    &-lg {
        &.loading {
            &::after {
                width: 26px;
                height: 26px;
                margin-top: -13px;
                margin-right: -13px;
                border-width: 3px;
            }
        }
    }
    &-sm {
        &.loading {
            &::after {
                width: 14px;
                height: 14px;
                margin-top: -7px;
                margin-right: -7px;
                border-width: 1px;
            }
        }
    }
}
@keyframes loading{
    0% { 
        transform:rotate(0);
    }
    100% {
        transform:rotate(360deg);
    }
}
@mixin button-shades-variant($shades) {
    @each $name, $val in $shades {
        .btn-#{$name} {
            @include button-variant($val, $val);
            // background-color: $val;
            // border-color: $val;
            // color: #fff;
            // &:hover {
            //     background-color: darken($val, 5%);
            //     border-color: darken($val, 5%);
            //     color: #fff;
            // }
        }
        .btn-#{$name}:focus,
        .btn-#{$name}.focus {
            box-shadow: none;
        }
        .btn-#{$name}:not(:disabled):not(.disabled):active:focus,
        .btn-#{$name}:not(:disabled):not(.disabled).active:focus {
            box-shadow: inset 0 3px 5px 0 rgba(darken($val, 20%), 0.5);
        }
        .btn-outline-#{$name} {
            @include button-outline-variant($val);
            &.loading {
                &::after {
                    border-color: $val;
                }
            }
        }
        .btn-outline-#{$name}:focus, 
        .btn-outline-#{$name}.focus {
            box-shadow: none;
        }
        .btn-outline-#{$name}:not(:disabled):not(.disabled):active:focus,
        .btn-outline-#{$name}:not(:disabled):not(.disabled).active:focus {
            box-shadow: inset 0 3px 5px 0 rgba($val, 0.5);
        }
        .btn-outline-#{$name}:not(:disabled):not(.disabled):active,
        .btn-outline-#{$name}:not(:disabled):not(.disabled):hover {
            background-color: rgba($val, 0.1);
            color: $val;
        }
    }
}

$turquoise-shades:
    "turquoise" $turquoise,
    "turquoise-50" $turquoise-50,
    "turquoise-100" $turquoise-100,
    "turquoise-200" $turquoise-200,
    "turquoise-300" $turquoise-300,
    "turquoise-400" $turquoise-400,
    "turquoise-500" $turquoise-500,
    "turquoise-600" $turquoise-600,
    "turquoise-700" $turquoise-700,
    "turquoise-800" $turquoise-800,
    "turquoise-900" $turquoise-900;
@include button-shades-variant($turquoise-shades);

$alizarin-shades:
    "alizarin" $alizarin,
    "alizarin-50" $alizarin-50,
    "alizarin-100" $alizarin-100,
    "alizarin-200" $alizarin-200,
    "alizarin-300" $alizarin-300,
    "alizarin-400" $alizarin-400,
    "alizarin-500" $alizarin-500,
    "alizarin-600" $alizarin-600,
    "alizarin-700" $alizarin-700,
    "alizarin-800" $alizarin-800,
    "alizarin-900" $alizarin-900;
@include button-shades-variant($alizarin-shades);

$peter-river-shades:
    "peter-river" $peter-river,
    "peter-river-50" $peter-river-50,
    "peter-river-100" $peter-river-100,
    "peter-river-200" $peter-river-200,
    "peter-river-300" $peter-river-300,
    "peter-river-400" $peter-river-400,
    "peter-river-500" $peter-river-500,
    "peter-river-600" $peter-river-600,
    "peter-river-700" $peter-river-700,
    "peter-river-800" $peter-river-800,
    "peter-river-900" $peter-river-900;
@include button-shades-variant($peter-river-shades);

$belize-hole-shades:
    "belize-hole" $belize-hole,
    "belize-hole-50" $belize-hole-50,
    "belize-hole-100" $belize-hole-100,
    "belize-hole-200" $belize-hole-200,
    "belize-hole-300" $belize-hole-300,
    "belize-hole-400" $belize-hole-400,
    "belize-hole-500" $belize-hole-500,
    "belize-hole-600" $belize-hole-600,
    "belize-hole-700" $belize-hole-700,
    "belize-hole-800" $belize-hole-800,
    "belize-hole-900" $belize-hole-900;
@include button-shades-variant($belize-hole-shades);

$emerald-shades:
    "emerald" $emerald,
    "emerald-50" $emerald-50,
    "emerald-100" $emerald-100,
    "emerald-200" $emerald-200,
    "emerald-300" $emerald-300,
    "emerald-400" $emerald-400,
    "emerald-500" $emerald-500,
    "emerald-600" $emerald-600,
    "emerald-700" $emerald-700,
    "emerald-800" $emerald-800,
    "emerald-900" $emerald-900;
@include button-shades-variant($emerald-shades);

$wet-asphalt-shades:
    "wet-asphalt" $wet-asphalt,
    "wet-asphalt-50" $wet-asphalt-50,
    "wet-asphalt-100" $wet-asphalt-100,
    "wet-asphalt-200" $wet-asphalt-200,
    "wet-asphalt-300" $wet-asphalt-300,
    "wet-asphalt-400" $wet-asphalt-400,
    "wet-asphalt-500" $wet-asphalt-500,
    "wet-asphalt-600" $wet-asphalt-600,
    "wet-asphalt-700" $wet-asphalt-700,
    "wet-asphalt-800" $wet-asphalt-800,
    "wet-asphalt-900" $wet-asphalt-900;
@include button-shades-variant($wet-asphalt-shades);

$midnight-blue-shades: 
    "midnight-blue" $midnight-blue,
    "midnight-blue-50" $midnight-blue-50, 
    "midnight-blue-100" $midnight-blue-100,
    "midnight-blue-200" $midnight-blue-200,
    "midnight-blue-300" $midnight-blue-300,
    "midnight-blue-400" $midnight-blue-400,
    "midnight-blue-500" $midnight-blue-500,
    "midnight-blue-600" $midnight-blue-600, 
    "midnight-blue-700" $midnight-blue-700,
    "midnight-blue-800" $midnight-blue-800, 
    "midnight-blue-900" $midnight-blue-900;
@include button-shades-variant($midnight-blue-shades);

$clouds-shades:
    "clouds" $clouds,
    "clouds-50" $clouds-50,
    "clouds-100" $clouds-100,
    "clouds-200" $clouds-200,
    "clouds-300" $clouds-300,
    "clouds-400" $clouds-400,
    "clouds-500" $clouds-500,
    "clouds-600" $clouds-600,
    "clouds-700" $clouds-700,
    "clouds-800" $clouds-800,
    "clouds-900" $clouds-900;
@include button-shades-variant($clouds-shades);

$silver-shades:
    "silver" $silver,
    "silver-50" $silver-50,
    "silver-100" $silver-100,
    "silver-200" $silver-200,
    "silver-300" $silver-300,
    "silver-400" $silver-400,
    "silver-500" $silver-500,
    "silver-600" $silver-600,
    "silver-700" $silver-700,
    "silver-800" $silver-800,
    "silver-900" $silver-900;
@include button-shades-variant($silver-shades);

$red-shades:
    "white" $white,
    "red" $red,
    "red-50" $red-50, 
    "red-100" $red-100,
    "red-200" $red-200,
    "red-300" $red-300,
    "red-400" $red-400,
    "red-500" $red-500,
    "red-600" $red-600, 
    "red-700" $red-700,
    "red-800" $red-800, 
    "red-900" $red-900;
@include button-shades-variant($red-shades);

$pink-shades: 
    "pink" $pink,
    "pink-50" $pink-50, 
    "pink-100" $pink-100,
    "pink-200" $pink-200,
    "pink-300" $pink-300,
    "pink-400" $pink-400,
    "pink-500" $pink-500,
    "pink-600" $pink-600, 
    "pink-700" $pink-700,
    "pink-800" $pink-800, 
    "pink-900" $pink-900;
@include button-shades-variant($pink-shades);

// .btn-blue {
//     @include button-variant($peter-river, $peter-river);
//     // background-color: $peter-river;
//     // border-color: $peter-river;
//     // color: #fff;
//     // &:hover {
//     //     background-color: darken($peter-river, 5%);
//     //     border-color: darken($peter-river, 5%);
//     //     color: #fff;
//     // }
// }
// .btn-blue:focus,
// .btn-blue.focus {
//     box-shadow: none;
// }
// .btn-blue:not(:disabled):not(.disabled):active:focus,
// .btn-blue:not(:disabled):not(.disabled).active:focus {
//     box-shadow: inset 0 3px 5px 0 rgba(darken($peter-river, 20%), 0.5);
// }
// .btn-outline-blue {
//     @include button-outline-variant($peter-river);
// }
// .btn-outline-blue:focus, 
// .btn-outline-blue.focus {
//     box-shadow: none;
// }
// .btn-outline-blue:not(:disabled):not(.disabled):active:focus,
// .btn-outline-blue:not(:disabled):not(.disabled).active:focus {
//     box-shadow: inset 0 3px 5px 0 rgba($peter-river, 0.5);
// }
// .btn-outline-blue:not(:disabled):not(.disabled):active,
// .btn-outline-blue:hover {
//     background-color: rgba($peter-river, 0.1);
//     color: $peter-river;
// }