.card {
    &-columns {
        &-portfolio,
        &-blog {
            column-gap: 30px;
            margin-top: -15px;
            margin-bottom: -15px;
            .card {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            @include media-breakpoint-only(sm) {
                column-count: 1;
            }
            @include media-breakpoint-only(md) {
                column-count: 2;
            }
            @include media-breakpoint-only(lg) {
                column-count: 3;
            }
            @include media-breakpoint-only(xl) {
                column-count: 4;
            }
        }
    }
}
.accordion {
    &-space {
        .card {
            margin-top: 1.25rem;
            overflow: hidden;
            &:first-child {
                margin-top: 0;
            }
            .card-header {
                margin-bottom: -1px;
                .card-link {
                    display: block;
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: left;
                    color: $turquoise;
                    .fa-plus-square:before {
                        content: "\F146";
                    }
                    &.collapsed {
                        color: $midnight-blue;
                        &:hover {
                            color: $turquoise;
                        }
                        .fa-plus-square:before {
                            content: "\F0FE";
                        }
                    }
                }
            }
        }
    }
}
.accordion {
    .card {
        .card-header {
            .card-link {
                display: block;
                border: none;
                padding-left: 0;
                padding-right: 0;
                text-align: left;
                color: $turquoise;
                .fa-plus-square:before {
                    content: "\F146";
                }
                &.collapsed {
                    color: $midnight-blue;
                    &:hover {
                        color: $turquoise;
                    }
                    .fa-plus-square:before {
                        content: "\F0FE";
                    }
                }
            }
        }
    }
}