.footer {
    &__main {
        background-color: $midnight-blue-500;
    }
    &__copyright {
        background-color: darken($midnight-blue-500, 1%);
    }
    .fas {
        color: #8dc153;
    }
}