$navLink: #fff;
$navLinkHover: #08c;
.navbar {
    transition: 
        background .5s ease-in-out,
        padding .5s ease-in-out;

    &-brand:hover {
        animation-name: tada;
        animation-duration: 1s;
        animation-iteration-count: 1;
        // animation-iteration-count: infinite;
        // animation-fill-mode: both;
    }
        
    @include media-breakpoint-up(lg) {
        &-transparent {
            padding-top: 35px;
            padding-bottom: 35px;
            &.bg-dark {
                background-color: transparent !important;
                background-color: rgba(52, 58, 64, 0.5) !important;
            }
            &.bg-midnight-blue {
                background-color: transparent !important;
                background-color: rgba($midnight-blue, 0.5) !important;
            }
            .navbar-brand {
                font-size: 2rem;
            }
            // &.navbar-dark .navbar-nav .nav-link {
            //     color: $navLink;
            //     &:hover,
            //     &:focus {
            //         color: $navLinkHover;
            //     }
            //     &.disabled {
            //         color: rgba($navLink, 0.25);
            //     }
            // }
        }
        .navbar-brand {
            transition: font-size .5s ease-in-out;
        }
    }
}