.navbar-banner {
    flex: 1;
    min-width: 100%;
    margin: 0 -1rem 8px;
    transition: margin-bottom .5s ease-in-out;
    &-show {
        padding-top: 0;
        transition: top .6s ease-in-out;
    }
    &-space {
        padding-top: 56px;
        transition: padding-top .6s ease-in-out;
    }
}
@include media-breakpoint-up(lg) {
    .navbar-transparent {
        .navbar-banner {
            margin-bottom: 35px;
        }
    }
}