.section {
    &-pt-152 {
        padding-top: rem(152px);
    }
    &-pt-128 {
        padding-top: rem(128px);
    }
    &-py-80,
    &-pt-80 {
        padding-top: rem(80px);
    }
    &-py-80,
    &-pb-80 {
        padding-bottom: rem(80px);
    }
    &-pt-56 {
        padding-top: rem(56px);
    }
    &-mt-56 {
        margin-top: rem(56px);
    }
    &-min-h-100 {
        min-height: 100%;
    }
    &-min-vh-100 {
        min-height: 100vh;
    }
    &--image {
        position: relative;
        background-image: url("../../images/welcome/start.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
            content: '';
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .5;
        }
        &-start {
            background-image: url("../../images/welcome/start.jpg");
            &-blog {
                background-image: url("../../images/welcome/start-blog.jpg");
            }
            &-space {
                background-image: url("../../images/welcome/start-space.jpg");
                &::before {
                    background-color: transparent;
                }
            }
            &-austronaut {
                background-image: url("../../images/welcome/start-austronaut.jpg");
                &::before {
                    background-color: transparent;
                }
            }
        }
        // &-about-me {
        //     background-image: url("../../images/welcome/brain2.jpg");
        //     filter: blur(3px);
        //     &::before {            
        //         background-color: #252521;
        //         opacity: .55;
        //     }
        // }
        &-about-me {
            background-image: none;
            &::before {            
                background-image: url("../../images/welcome/brain2.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(3px);
            }
            &::after {
                content: '';
                background-color: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .6;
            }
            &-ania {
                background-image: url("../../images/welcome/fullscreendark.jpg");
                &::before {
                    background-color: transparent;
                }
            }
        }
        &-contact {
            &-top {
                background-color: #3E69C3;
                background-image: url("../../../images/welcome/codepen.svg");
                background-position: center center;
                background-size: 500px;  
                animation: scrollBackground 10s linear infinite;
            }
            &-bottom {
                background-color: #31CC70;
                overflow: hidden;
                &::before {
                    content: '';
                    background-image: url("../../../images/welcome/codepen.svg");
                    background-position: center center;
                    background-size: 500px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 400%;
                    animation: scrollElement 10s linear infinite;
                }
                // &::before {
                //     content: '';
                //     background-image: url("../../../images/welcome/codepen.svg");
                //     background-position: center center;
                //     background-size: 500px;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     animation: scaleBackground 20s linear;
                //     // animation: scalePulseBackground 20s linear infinite;
                //     transform: scale(1.2);
                // }
            }
        }
    }
    &--parallax {
        background-attachment: fixed;
    }
    &--gradient {
        &-basic {
            &::before {
                background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
                opacity: .75;
            }
        }
        &-start {
            &::before {
                background-image: linear-gradient(to left, #7400de, #2969ff);
                opacity: .75;
            }
        }
    }
}
@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -320px;
    }
}
@keyframes scrollElement {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(0,-320px,0);
    }
}
@keyframes scaleBackground {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes scalePulseBackground {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}