.start-about {
    .btn-play {
        position: absolute;
        left: 50%;
        top: calc(50% - 0px);
        transform: translate(-50%, -50px);
        background-color: #fa183d;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: #fff !important;
        font-size: 2rem;
        z-index: 0;
        transition: all 300ms;
        i {
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        &:hover {
            background-color: #da0528;
            &:after {
                animation: play-pulse-border 1500ms ease-out infinite;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: #da0528;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: -1;
        }
    }
}
@keyframes play-pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.start-about-us {
    &-position {
        font-weight: 400;
    }
    &-social {
        li:not(:last-child) {
            margin-right: 1rem;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: #9ca4af;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(0.5, 0, 0.5, 1);
            font-size: 14px;
            &:hover {
                background-color: #88929f;
            }
        }
    }
}