.title {
    position: relative;
    z-index: 1;
    h2 {
        font-size: 5rem;
        font-weight: 800;
        color: $silver-50;
        margin-bottom: 0;
        position: absolute;
        text-transform: uppercase;
        z-index: -1;
    }
    h3 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    &-light {
        h2 {
            color: #fff;
        }
    }
}