.title {
    position: relative;
    z-index: 1;
    h2 {
        font-size: 5rem;
        font-weight: 800;
        margin-bottom: 0;
        position: absolute;
        text-transform: uppercase;
        z-index: -1;
    }
    h3 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    &-white {
        h2 {
            color: #fff;
        }
    }
    &-silver-100 {
        h2 {
            color: $silver-100;
        }
    }
    &-transparent-5 {
        h2 {
            color: rgba(255, 255, 255, 0.05);
        }
    }
}