{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<section class="d-flex flex-shrink-0 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100">
            {% block sidebar_blog %}
                {{ include('blog/_sidebar.html.twig') }}
            {% endblock %}
            {% block content_blog %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}


{% block javascripts %}{% endblock %}