{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-pill btn-outline-midnight-blue">{{ button_label|default('Send message') }}</button>
{{ form_end(form) }}
