{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<section class="d-flex flex-shrink-0 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100">
            <div class="col-lg-6 d-flex justify-content-center align-items-center bg-secondary">
                <div class="text-center text-white">
                    <h2>Contact info</h2>
                    <h3><i class="fas fa-fw fa-map-marker-alt"></i> Address</h3>
                    <p>4567/15 Street name<br/> 012 34 City name<br/> Country name</p>
                    <h3><i class="fas fa-fw fa-mobile-alt"></i> Telephone</h3>
                    <ul class="list-unstyled">
                        <li><a href="tel:+012345678910">+012 345 678 910</a></li>
                        <li><a href="tel:+012345678911">+012 345 678 911</a></li>
                        <li><a href="tel:+012345678911">+012 345 678 911</a></li>
                    </ul>
                    <h3><i class="far fa-fw fa-envelope"></i> E-Mail</h3>
                    <ul class="list-unstyled">
                        <li><a href="mailto:info@domain.com">info@domain.com</a></li>
                        <li><a href="mailto:support@domain.com">support@domain.com</a></li>
                        <li><a href="mailto:director@domain.com">director@domain.com</a></li>
                    </ul>
                    <h3><i class="far fa-fw fa-clock"></i> Business hours</h3>
                    <p>Monday - Friday — 08:00 - 16:00<br/> Saturday — Closed<br/> Sunday — Closed</p>

                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="w-100 text-center">
                    <h2>Contact form</h2>
                    <div class="row mb-5">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-dark">Dark</button>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                            <button type="button" class="btn btn-outline-secondary">Secondary</button>
                            <button type="button" class="btn btn-outline-success">Success</button>
                            <button type="button" class="btn btn-outline-danger">Danger</button>
                            <button type="button" class="btn btn-outline-warning">Warning</button>
                            <button type="button" class="btn btn-outline-info">Info</button>
                            <button type="button" class="btn btn-outline-light">Light</button>
                            <button type="button" class="btn btn-outline-dark">Dark</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-orange btn-lg">Button</button>
                            <button type="button" class="btn btn-orange">Button</button>
                            <button type="button" class="btn btn-outline-orange btn-sm">Button</button>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-blue btn-lg">Button</button>
                            <button type="button" class="btn btn-blue">Button</button>
                            <button type="button" class="btn btn-outline-blue btn-sm">Button</button>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-mint btn-lg">Button</button>
                            <button type="button" class="btn btn-mint">Button</button>
                            <button type="button" class="btn btn-outline-mint btn-sm">Button</button>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-green btn-lg">Button</button>
                            <button type="button" class="btn btn-green">Button</button>
                            <button type="button" class="btn btn-outline-green btn-sm">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-shrink-0 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100">
            <div class="col-lg-12 d-flex justify-content-center align-items-center section--image-contact-top">
                <div class="text-center text-white">
                    <h2>Animate: background-position</h2>
                </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-center align-items-center section--image-contact-bottom">
                <div class="row">
                    <div class="col">
                        <div class="text-center text-white">
                            <h2>Animate: translate3d</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}