<footer class="footer mt-auto">
    <div class="footer__main py-5">
        <div class="container">
            <h5 class="text-white text-uppercase">Contact</h5>
            <ul class="list-unstyled mb-0">
                <li class="text-white"><i class="fas fa-fw fa-home"></i> 4567 Street name, 012 12 City name, Country</li>
                <li class="text-muted"><i class="fas fa-fw fa-mobile-alt"></i> +012 456 789</li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright py-3 text-center">
        <div class="container">
            <p class="text-muted mb-0">Copyright &copy; {{ "now"|date("Y") }} id</p>
        </div>
    </div>
</footer>