<footer class="footer mt-auto">
    <div class="footer__main py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-white text-uppercase">Contact</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="text-white"><i class="fas fa-fw fa-map-marker-alt"></i> 4567 Street name, 012 12 City name, Country</li>
                        <li class="text-muted"><i class="fas fa-fw fa-mobile-alt"></i> +012 456 789</li>
                        <li><i class="fas fa-at"></i> <a href="mailto:info@bublinastudio.com">info@bublinastudio.com</a></li>
                        <li><i class="fas fa-fw fa-globe"></i> <a href="#">www.bublinastudio.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="text-white text-uppercase">NEWSLETTER</h5>
                    <p>Proin condimentum, nisi vel vestibulum ultricies, nunc elit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright py-3 text-center">
        <div class="container">
            <p class="text-muted mb-0">Copyright &copy; {{ "now"|date("Y") }} id</p>
        </div>
    </div>
</footer>