<footer class="footer py-3 mt-auto bg-dark">
  <div class="container">
    <span class="text-muted">Place sticky footer content here. Place sticky footer content here. Place sticky footer content here. Place sticky footer content here. Place sticky footer content here.</span>
  </div>
</footer>