{% extends 'vue/layout.html.twig' %}
{% block title %}Browser{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<bs-resize class="section-pt-56"></bs-resize>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}