{% extends 'vue/layout.html.twig' %}
{% block title %}Browser{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
    <bs-scroll-progress></bs-scroll-progress>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}