{% extends 'vue/layout.html.twig' %}
{% block title %}Browser{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 bg-light">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-md-6">
	                <home-sound-card></home-sound-card>
	            </div>
	        </div>
	    </div>
	</section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}