{% extends 'vue/layout.html.twig' %}
{% block title %}Transition Group{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
    <bs-transition-group></bs-transition-group>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}