{% extends 'vue/layout.html.twig' %}
{% block title %}Transitions{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
    <bs-transition></bs-transition>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}