{% extends 'vue/layout.html.twig' %}
{% block title %}Waves{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<bs-zoom></bs-zoom>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}