{% extends 'vue/layout.html.twig' %}
{% block title %}Zoom{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_vue %}
<div class="col p-0">
	<bs-zoom></bs-zoom>
<pre><code class="twig rounded">
➜  home4 git:(master) ✗ yarn add highlight.js
</code></pre>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}