{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<header class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-128 section-min-h-100 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <div class="frame-intro">
                    <h2>Webinar <span>even more</span> Your Way</h2>
                    <p>Achieve more with a completely <strong>rebuilt webinar room</strong></p>
                    <div class="btn-wrap">
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <a class="btn btn-lg btn-success text-uppercase" href="#">Log in</a>
                            </div>
                            <div class="col-sm-6 text-left">
                                <a class="btn btn-lg btn-signup text-uppercase" href="#">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="d-flex flex-shrink-0 align-items-center section-py-80 section-min-h-100 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="frame-features text-center">
                    <ul class="frame-indicators" data-selector="frame-indicators">
                        <li>
                            <a href="#new-dashboard">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="label-wrap">
                                    <span class="label label-arrow label-arrow-top">New Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#floating-video-pod">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="label-wrap">
                                    <span class="label label-arrow label-arrow-top">New Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#fully-responsive-room-layout">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="label-wrap">
                                    <span class="label label-arrow label-arrow-top">New Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#redesigned-chat">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="label-wrap">
                                    <span class="label label-arrow label-arrow-top">New Dashboard</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <h2>Browse the new features and discover how they will benefit your future webinars</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="scroll-indicators new-webinar-room hide">
    <li>
        <a href="#new-dashboard">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="label label-icon label-arrow label-arrow-left">New Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#floating-video-pod">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="label label-icon label-arrow label-arrow-left">New Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#fully-responsive-room-layout">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="label label-icon label-arrow label-arrow-left">New Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#redesigned-chat">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="label label-icon label-arrow label-arrow-left">New Dashboard</span>
        </a>
    </li>
</ul>

    <section id="floating-video-pod" class="frame-section frame-bg-dark">
        <div class="frame-content-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <picture>
                            <source media="(max-width: 767px)" srcset="{{ asset('images/landing/new-webinar-room/video-pod.png') }}"></source>
                            <img class="img-fluid img-center" src="{{ asset('images/landing/new-webinar-room/video-pod.png') }}"/>
                        </picture>
                        <div class="frame-flashcard">
                            <div class="frame-flashcard-content">
                                <div class="frame-flashcard-content-middle">
                                    <i class="fa fa-home"></i>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-footer">
            <a href="#fully-responsive-room-layout">
                <i class="fa fa-home"></i>
            </a>
        </div>
    </section>
<section class="d-flex flex-shrink-0 align-items-center section-py-80 section-min-h-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
                <ol>
                    <li>Tworzenie projektu blog</li>
                    <li>Pisanie componentów vue</li>
                    <li>Wystartowanie projektu jobeet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-shrink-0 align-items-center section-py-80 section-min-h-100 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
                <ol>
                    <li>Tworzenie projektu blog</li>
                    <li>Pisanie componentów vue</li>
                    <li>Wystartowanie projektu jobeet</li>
                </ol>
            </div>
        </div>
    </div>  
</section>
<section class="d-flex flex-shrink-0 align-items-center section-py-80 section-min-h-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>start/index <i class="fa fa-home"></i> <i class="fas fa-home"></i></h2>
                <ol>
                    <li>Tworzenie projektu blog</li>
                    <li>Pisanie componentów vue</li>
                    <li>Wystartowanie projektu jobeet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}