{% extends 'bootstrap/layout.html.twig' %}
{% block title %}Shadow{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content_bs %}
    <div class="col p-0">
        <section class="d-flex flex-shrink-0 section-min-h-100">
            <div class="container-fluid">
                <div class="row section-min-h-100">
                    <div class="col-12 section-py-80 px-5 bg-turquoise">
                        <div class="row section-min-h-100 align-items-center">
                            <div class="col-lg-3 py-4">
                                <div class="card border-0 text-white shadow-turquoise-flat-145">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-turquoise border-0">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 py-4">
                                <div class="card border-0 text-white shadow-turquoise-pressed-145">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-turquoise border-0">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 py-4">
                                <div class="card border-0 text-white shadow-turquoise-concave-145">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-turquoise border-0">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 py-4">
                                <div class="card border-0 text-white shadow-turquoise-convex-145">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-turquoise border-0">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 section-py-80 bg-clouds d-flex justify-content-center align-items-center px-5 pb-3">
                        <div class="card border-0 shadow-clouds-concave-145">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-midnight-blue border-0">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 section-py-80 bg-clouds d-flex justify-content-center align-items-center px-5 pb-3">
                        <div class="card border-0 shadow-clouds-concave-225">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-midnight-blue border-0">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 section-py-80 bg-clouds d-flex justify-content-center align-items-center px-5 pt-3">
                        <div class="card border-0 shadow-clouds-concave-45">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-midnight-blue border-0">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 section-py-80 bg-clouds d-flex justify-content-center align-items-center px-5 pt-3">
                        <div class="card border-0 shadow-clouds-concave-315">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-midnight-blue border-0">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}